In [1]:
import numpy as np
import pandas as pd
from tree import decisionTreeNode
import random

In [2]:
dat = pd.read_csv('../data/creditcard.csv')

In [3]:
dat_test = dat.loc[:3, ['Time', 'V1', 'V2', 'V10', 'Amount', 'Class']]

In [4]:
dat_test

   Time        V1        V2       V10  Amount  Class
0   0.0 -1.359807 -0.072781  0.090794  149.62      0
1   0.0  1.191857  0.266151 -0.166974    2.69      0
2   1.0 -1.358354 -1.340163  0.207643  378.66      0
3   1.0 -0.966272 -0.185226 -0.054952  123.50      0

In [5]:
X = dat_test.drop('Class', axis=1)
e=0
l=np.log2(len(X.index))
X

   Time        V1        V2       V10  Amount
0   0.0 -1.359807 -0.072781  0.090794  149.62
1   0.0  1.191857  0.266151 -0.166974    2.69
2   1.0 -1.358354 -1.340163  0.207643  378.66
3   1.0 -0.966272 -0.185226 -0.054952  123.50

In [6]:
def nodeInfo(X, Length=0, isLeaf=False, splitAtt=None, splitValue=None, isLeftChild=None, isRoot=True):
    node = decisionTreeNode()
    node.setLength(Length)
    node.setsplitAtt(splitAtt)
    node.setsplitValue(splitValue)
    node.setisLeftChild(isLeftChild)
    node.setisRoot(isRoot)
    if(isLeaf):
        node.setisLeaf()
    return(node)

In [32]:
def iTree(X, e, l, Length=0, isLeaf=False, splitAtt=None, splitValue=None, isLeftChild=None, isRoot=True):
    if(e < l and len(X.index) > 1):
        node = nodeInfo(X, Length, isLeaf, splitAtt, splitValue, isLeftChild, isRoot)
        splitAtt = X.columns[random.randint(0, (len(X.columns)-1))]
        minimum = min(X[splitAtt])
        maximum = max(X[splitAtt])
        while(minimum == maximum):
            splitAtt = X.columns[random.randint(0, (len(X.columns)-1))]
            minimum = min(X[splitAtt])
            maximum = max(X[splitAtt])
        splitValue = np.random.uniform(low=minimum, high=maximum)
        Xl = X.loc[X[splitAtt]<=splitValue, :]
        Xr = X.loc[X[splitAtt]>splitValue, :]
        ee = e + 1
        Child_left = iTree(X=Xl, e=ee, l=l, Length=ee, splitAtt=splitAtt, splitValue=splitValue, 
                           isLeftChild=True, isRoot=False)
        node.setChildren(Child_left)
        Child_right = iTree(X=Xr, e=ee, l=l, Length=ee, splitAtt=splitAtt, splitValue=splitValue, 
                            isLeftChild=False, isRoot=False)
        node.setChildren(Child_left)
    else:
        node = nodeInfo(X, Length, isLeaf=True, splitAtt=splitAtt, splitValue=splitValue, 
                        isLeftChild=isLeftChild, isRoot=isRoot)
    return(node)

In [37]:
def printTree(node, depth = 0):
    if not node.getisRoot():
        x = node.getsplitAtt()
        if node.getisLeftChild():
            equality = "<="
        else:
            equality = ">"
        threshold = "%.6f" % node.getsplitValue() # Six decimal
        if node.getisLeaf():
            print(depth * "|\t" + "%s %s %s : %s" \
                                  % (node.getsplitAtt(), equality, threshold,
                                     node.getLength()))
        else:
            print(depth * "|\t" + "%s %s %s " \
                                  % (node.getsplitAtt(), equality, threshold))
        depth +=1
    for child in node.getChildren():
        printTree(child, depth)

In [38]:
mytree = iTree(X,e,l)

In [39]:
node=mytree
node.getisRoot()
child=node.getChildren()[0]
node=child
node.getisRoot()
node.getsplitAtt()
node.getLength()
node.getisLeftChild()

True

In [40]:
printTree(mytree)

V2 <= -0.296157 : 1
V2 <= -0.296157 : 1

In [41]:
X

   Time        V1        V2       V10  Amount
0   0.0 -1.359807 -0.072781  0.090794  149.62
1   0.0  1.191857  0.266151 -0.166974    2.69
2   1.0 -1.358354 -1.340163  0.207643  378.66
3   1.0 -0.966272 -0.185226 -0.054952  123.50

In [8]:
node = nodeInfo(X)
splitAtt = X.columns[random.randint(0, (len(X.columns)-1))]
minimum = min(X[splitAtt])
maximum = max(X[splitAtt])
while(minimum == maximum):
    splitAtt = X.columns[random.randint(0, (len(X.columns)-1))]
    minimum = min(X[splitAtt])
    maximum = max(X[splitAtt])
splitValue = np.random.uniform(low=minimum, high=maximum)
Xl = X.loc[X[splitAtt]<=splitValue, :]
Xr = X.loc[X[splitAtt]>splitValue, :]
ee = e + 1
node.setLength(e)
node.setsplitAtt(splitAtt)
node.setsplitValue(splitValue)

In [14]:
Xr

   Time        V1        V2       V10  Amount
0   0.0 -1.359807 -0.072781  0.090794  149.62
2   1.0 -1.358354 -1.340163  0.207643  378.66
3   1.0 -0.966272 -0.185226 -0.054952  123.50

In [15]:
X, e, l=Xr,ee,l

In [16]:
e < l and len(X.index) > 1

True

In [17]:
nodeInfo(X, Length=e, isLeaf=True)

In [16]:
e

1